/* desktop version */
@media (min-width: 760px) {
  #page-landing {
    display: flex;
  }
  #container {
    background-color: #0e0f10;
    border: 1px solid #26292a;
  }
  header button {
    display: none;
  }
  header ul {
    display: block;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0f10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header ul li {
    float: left;
    border: none;
  }
  header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.8vh 1vw;
    text-decoration: none;
  }
  header ul li a:hover {
    background-color: #151616;
  }
  section {
    /* width: 90%; */
    height: 100%;
    margin: 0 8vw;
  }
  .info {
    height: 100%;
    margin: 0 8vw;
  }
  .info .profile {
    width: 19vw !important;
    margin: 5vh 0 !important;
  }
  .info .profile img {
    width: 100%;
    border-radius: 50%;
  }
  .info .about {
    font-size: 1.5vw !important;
    width: 100% !important;
    text-align: initial;
  }
  .info .about h3 {
    font-size: 1.2em !important;
  }
  .info .about p {
    font-size: 0.8em !important;
  }
  #projects {
    margin: 8vmax;
    /*         display: none;
     */
  }
  #projects td {
    /*             display: none;
     */
    width: 6vmax;
    height: 9vmax;
    padding: 0 9vmax !important;
    border: 1px solid white;
  }
}