html {
  width: 90%;
  margin: 0 auto;
  font-size: 14pt;
  font-family: sans-serif;
  background-color: #0a0b0b;
}

section {
  /* width: 90%; */
  height: 100%;
  background-color: #0e0f10;
  border: 1px solid #26292a;
}
section .profile {
  width: 19vmax;
  margin: 5vmax 6vmax;
}
section .profile img {
  width: 14rem;
  border-radius: 50%;
}
section .about {
  color: white;
  margin: 1rem;
}
section .about h3 {
  width: 20rem;
}
section .about p {
  font-size: 0.8rem;
  color: white;
  width: 31rem;
}