/* desktop version */
@media (min-width: 760px) {
    #page-landing {
        display: flex;
    }

    #container {
        background-color: #0e0f10;
        border: 1px solid #26292a;
    }

    header {
        button {
            display: none;
        }
        ul {
            display: block;
            font-size: 1.5em;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #0e0f10;
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            li {
                float: left;
                border: none ;

                a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 1.8vh 1vw;
                    text-decoration: none;

                    &:hover {
                        background-color: #151616;
                    }
                }
            }
        }
    }

    section {
        /* width: 90%; */
        height: 100%;
        margin: 0 8vw;        
    }

    .info{
        height: 100%;
        margin: 0 8vw;

        .profile {
            width: 19vw !important;
            margin: 5vh 0 !important;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        .about {
            font-size: 1.5vw !important;
            width: 100% !important;

            text-align: initial;

            h3 {
                font-size: 1.2em !important;
            }

            p {
                font-size: 0.8em !important;
            }
        }
    }

    #projects{
        margin: 8vmax;
/*         display: none;
 */
        td{
/*             display: none;
 */
            width: 6vmax;
            height: 9vmax;

            padding: 0 9vmax !important;

            border: 1px solid #ffff;
        }
    }
}
